.container {

}
.content {
    width:100%;
}

/* Content Styles */
.content-wrapper {
    position:relative;
}

.content-container {
    width:100%;
    display:block;
    height:fit-content;
}

.active {
    left:0;
}

.content-left {
    display:inline-block;
    width:50%;
    float:left;
    padding:40px;
    box-sizing:border-box;
}

.content-left img {
    max-width:100%;
}

.content-right {
    display:inline-block;
    width:50%;
    padding:40px;
    box-sizing:border-box;
}

.border-background-color {
    background: #012550;
}

.content {
    margin:0;
    color:#6f7e90;
    font-family:'Inconsolata', sans-serif;
}